/* for mobile device */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams, .features{
        flex-direction: column;
        
    }
    .team-image-container, 
    .facts-container, .sponsor-companies{
        grid-template-columns: 1fr;
    }
    .facts-container {
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;

    }
    .our-features{
        margin-left: 20px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
   
    footer{
        padding: 10px 20px;
        align-items: center;

    }
    
   
   
}
/* for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }
     .our-features{
        margin: 50px auto;
    }
    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;

    }
     #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    
}
